body {
    background-color: rgba(255, 0, 0, 0.699);
}
/*--------------------------------------*/

#menu li > a {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

#menu form > button {
    font-size: 1em;
    font-weight: bold;
  
}




.carousel-inner {
    max-height: 39rem;
}

/*---- media queries pantalla -----*/

@media (max-width:768px){
    #inicio { 
        width:90% !important;
    }
    
}



